.about-main{
    margin: 0 220px;
    padding-bottom: 100px;
    padding-top: 50px;

    #form-follows{
        display: grid;
        grid-template-columns: [first] 250px [line2] 250px [line3] 350px [end];
        grid-template-rows: [row1-start] 25% [row1-end] 100px [third-line] auto [last-line];
        place-items: center;
        place-content: center;
        font-weight: 600;
        font-size:50px;
        font-family: 'Poppins';

        #text1{
            grid-column-start: first;
            grid-column-end: line2;
            grid-row-start: row1-start;
            grid-row-end: row1-end;
            color: $orange;
        }

        #img1{
            padding-top: 42px;
            padding-left: 20px;
            grid-column-start: first;
            grid-column-end: line2;
            grid-row-start: row1-end;
            grid-row-end: last-line;
        }

        #text2{
            grid-column-start: line2;
            grid-column-end: line3;
            grid-row-start: row1-end;
            grid-row-end: third-line;
            color: #333333;
        }

        #img2{
            grid-column-start: line3;
            grid-column-end: end;
            grid-row-start: row1-start;
            grid-row-end: third-line;
            padding-bottom: 20px;
            padding-left: 15px;
        }

        #text3{
            grid-column-start: line3;
            grid-column-end: end;
            grid-row-start: third-line;
            grid-row-end: last-line;
            color: $orange;
        }
    }

    #flexbox1{
        display: flex;

        #quote1{
            max-height: 34px;
            padding-left: 220px;
        }

        #quote2{
            max-height: 34px;
            align-self: flex-end;
            float:left;
            padding-right: 220px;
            flex-wrap: wrap;
        }
    }

    .about-us{
        flex-wrap: wrap;
        width: 600px;

        .werd{
            font-weight: bold;
        }
        #orange{
            color: $orange;
        }
    }

    #us{
        text-align: center;
        padding-top:90px;
    }

    h1{
        color: #333333;
    }

    h3{
        margin-top: 70px;
        font-size: 30px;
        padding-left: 40px;
        color: #333333;

        @media (max-width: 1520px) {
            padding-left: 30px;
        }
    }

    #title{
        margin-top: 40px;
    }

    .headshots1{
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap; 

        .headshot-board{
            border-radius: 10px;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            margin:0 7.5px;
            width:200px;

            @media (max-width: 1520px) {
                width:150px;
            }
            @media (max-width: 1268px) {
                width:125px;
            }
            /*adjust at 1168px*/
            /*adjust at 800px*/
            /*adjust at 450 0r 500px*/
        }

        ._caps{
                font-weight:600;
                font-family: 'Poppins';
                padding-left: 15px;

                @media (max-width: 1520px) {
                    font-size:smaller;
                }
        }

        ._caps2{
                font-weight:lighter;
                margin-top: 0;
                font-style: italic;
                font-size: smaller;
                font-family: 'Poppins';
                padding-left: 15px;
        }
    }

    #alumnis{
        display:flex;
        flex-direction: row;
        padding-left: 40px;
    }

    .alumns{
        background-color:#E5E5E5;
        padding: 5px 0;
        border-radius: 10px;
        width:235px;
        text-align: center;
        color:black;
        font-family: 'Poppins';
        margin-right: 15px;
    }
}