#bigpic{
    min-height: 100vh;
    width: 100vh;
    background-image: url("../assets/logos/home-back.png");
}

#home-page{
    text-align: center;
    font-family: 'Poppins';

    #home-links{
        margin-top: 180px;
        font-weight: 600;
        font-size: larger;
    }
    #wordlogo{
        margin-top: 20px;
        max-width:30%;
    }
}