<nav>
  <a href="{{ site.baseurl }}/">
      <img class="nav-logo" src="{{ site.baseurl }}/assets/logos/design-logo-wordmark.svg">
  </a>
  <ul class="nav-items">
    <li><a class="nav-item" href="{{ site.baseurl }}/about">About Us</a></li>
    <li><a class="nav-item" href="{{ site.baseurl }}/projects">Projects</a></li>
    <li><a class="nav-item" href="{{ site.baseurl }}/events">Events</a></li>
    <li><a class="nav-item" href="{{ site.baseurl }}/resources">Resources</a></li>
    <li><a class="nav-item" id="join" href="{{ site.baseurl }}/join">Join Us</a></li>
  </ul>
</nav>